.main {
  background-color: var(--bc-color-second);
  padding-top: 15em;
}

.title {
  color: white;
  text-transform: uppercase;
}

.btn_group button {
  margin: 2em;
}

button a {
  color: white;
}
