:root {
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background: none;
  box-sizing: border-box;
}

body {
  font-family: roboto;
}

main {
  min-height: 80vh;
}
