:root {
  /* header and footer bg colors */
  --bc-color-first: #4350b5;
  /* main bg color */
  --bc-color-second: #cacdff;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background: none;
  box-sizing: border-box;
}

body {
  background-color: var(--bc-color-second);
  font-family: roboto;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 80vh;
}
